<main class="bg-light min-vh-100 d-flex align-items-center justify-content-center">

  <section class="container" style="max-width: 470px">
    <div class="bg-white shadow-lg rounded-4 p-5">
      
      <!-- Logo centré -->
      <div class="text-center mb-4">
        <a href="index.html">
          <img class="h-70px" src="assets/images/logo.jpg" alt="logo">
        </a>
      </div>

      <!-- Titre -->
      <h2 class="text-center mb-3 fw-semibold">Bienvenue sur <span class="text-primary">SofBiblio</span></h2>

      <!-- Message d'erreur -->
      <div *ngIf="errorMessage" class="alert alert-danger text-center" role="alert">
        {{ errorMessage }}
      </div>

      <!-- Formulaire -->
      <form (ngSubmit)="authenticate()" #loginForm="ngForm">
        
        <!-- Email -->
        <div class="mb-3">
          <label class="form-label">Adresse e-mail</label>
          <input 
            type="email"
            class="form-control rounded-pill px-4"
            required
            [(ngModel)]="authRequest.email"
            name="email"
            #email="ngModel"
            [ngClass]="{'is-invalid': email.invalid && email.touched}"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
          >
          <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
            <span *ngIf="email.errors?.['required']">L'adresse e-mail est requise.</span>
            <span *ngIf="email.errors?.['pattern']">Veuillez entrer une adresse e-mail valide.</span>
          </div>
        </div>

        <!-- Mot de passe -->
        <div class="mb-3">
          <label class="form-label">Mot de passe</label>
          <input 
            type="password"
            class="form-control rounded-pill px-4"
            id="psw-input"
            required
            [(ngModel)]="authRequest.password"
            name="password"
            #password="ngModel"
            [ngClass]="{'is-invalid': password.invalid && password.touched}"
          >
          <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
            Le mot de passe est requis.
          </div>
        </div>

        <!-- Se souvenir & mot de passe oublié -->
        <div class="mb-6 d-flex justify-content-between align-items-center">
         
          <a [routerLink]="['/forgetpassword']" class="text-decoration-none small">Mot de passe oublié ?</a>
        </div>

        <!-- Bouton -->
        <div class="d-grid">
          <button type="submit" class="btn btn-primary rounded-pill" [disabled]="loginForm.invalid">
            Se connecter
          </button>
        </div>
      </form>
    </div>
  </section>

</main>
