<header class="navbar-light header-sticky">
	<!-- Début Logo Nav -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Début Logo -->
			<a class="navbar-brand" href="index.html">
				<img class="light-mode-item navbar-brand-item" src="assets/images/logo.jpg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="assets/images/logo.jpg" alt="logo">
			</a>
			<!-- Fin Logo -->

			<!-- Bouton menu responsive -->
			<button class="navbar-toggler ms-auto ms-sm-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Basculer la navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
        		<span class="d-none d-sm-inline-block small">Menu</span>
			</button>

			<!-- Bouton catégories responsive -->
			<button class="navbar-toggler ms-sm-auto mx-3 me-md-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategoryCollapse" aria-controls="navbarCategoryCollapse" aria-expanded="false" aria-label="Basculer la navigation">
				<i class="bi bi-grid-3x3-gap-fill fa-fw"></i><span class="d-none d-sm-inline-block small">Catégories</span>
			</button>

			<!-- Fin navbar principale -->

			<!-- Début menu catégorie -->
			<div class="navbar-collapse collapse justify-content-center" id="navbarCategoryCollapse">
				<div class="bg-light rounded-4 shadow-sm px-4 py-2">
					<ul class="navbar-nav navbar-nav-scroll nav-pills-primary-soft d-flex justify-content-center gap-3 mb-0">
						<!-- Élément Livre -->
						<li class="nav-item">
							<a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/home/books">
								<i class="fa-solid fa-book me-2"></i>Livres
							</a>
						</li>

						<!-- Élément Bibliothèque -->
						<li class="nav-item">
							<a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/home/books/library/mybooks">
								<i class="fa-solid fa-bars me-2"></i>Bibliothèque
							</a>
						</li>

						<!-- Élément Profil -->
						<li class="nav-item">
							<a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/home/books/library/profile">
								<i class="fa-solid fa-user me-2"></i>Profil
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- Fin menu catégorie -->

			<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
				<!-- Début options mode sombre -->
				<li class="nav-item dropdown ms-3">
					<button class="nav-notification lh-0 btn btn-light p-0 mb-0" id="bd-theme"
						type="button"
						aria-expanded="false"
						data-bs-toggle="dropdown"
						data-bs-display="static">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half fa-fw theme-icon-active" viewBox="0 0 16 16">
							<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
							<use href="#"></use>
						</svg>
					</button>

					<ul class="dropdown-menu min-w-auto dropdown-menu-end" aria-labelledby="bd-theme">
						<li class="mb-1">
							<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" (click)="changeTheme('light')">
								<i class="bi bi-brightness-high-fill fa-fw mode-switch me-1"></i>Clair
							</button>
						</li>
						<li class="mb-1">
							<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" (click)="changeTheme('dark')">
								<i class="bi bi-moon-stars-fill fa-fw mode-switch me-1"></i>Sombre
							</button>
						</li>
						<li>
							<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" (click)="changeTheme('auto')">
								<i class="bi bi-circle-half fa-fw mode-switch"></i>Automatique
							</button>
						</li>
					</ul>
				</li>
				<!-- Fin options mode sombre -->
			</ul>

			<!-- Début notifications et profil -->
			<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">

				<!-- Début notifications -->
				<li class="nav-item dropdown ms-0 ms-md-3">
					<a class="nav-notification btn btn-light p-0 mb-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
						<i class="bi bi-bell fa-fw"></i>
					</a>
					<span class="notif-badge animation-blink"></span>

					<!-- Menu déroulant des notifications -->
					<div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md shadow-lg p-0">
						<div class="card bg-transparent">
							<div class="card-header bg-transparent d-flex justify-content-between align-items-center border-bottom">
								<h6 class="m-0">Notifications <span class="badge bg-danger bg-opacity-10 text-danger ms-2">4 nouvelles</span></h6>
								<a class="small" href="#">Tout effacer</a>
							</div>

							<div class="card-body p-0">
								<ul class="list-group list-group-flush list-unstyled p-2">
									
								</ul>
							</div>

							
						</div>
					</div>
				</li>
				<!-- Fin notifications -->

				<!-- Début profil -->
				<li class="nav-item ms-3 dropdown">
					<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
						<img class="avatar-img rounded-2" 
						[src]="image ? image : 'assets/images/avatar/10.jpg'" 
						alt="avatar">
					</a>

					<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
						<li class="px-3 mb-3">
							<div class="d-flex align-items-center">
								<div class="avatar me-3">
									<img class="avatar-img rounded-circle shadow" [src]="image ? image : 'assets/images/avatar/10.jpg'" alt="avatar">
								</div>
								<div>
									<a class="h6 mt-2 mt-sm-0" href="#">
										{{ firstname }} {{ lastname }}
									</a>
									<p class="small m-0">
										{{ email }}
									</p>
								</div>
							</div>
						</li>

						<!--<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-bookmark-check fa-fw me-2"></i>Mes réservations</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-heart fa-fw me-2"></i>Ma liste de souhaits</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Paramètres</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>Aide</a></li>-->
						<li>
							<a class="dropdown-item bg-danger-soft-hover" (click)="logout()">
								<i class="bi bi-power fa-fw me-2"></i>Déconnexion
							</a>
						</li>
					</ul>
				</li>
				<!-- Fin profil -->
			</ul>
			<!-- Fin notifications et profil -->
		</div>
	</nav>
	<!-- Fin Logo Nav -->
</header>
