.icon-box {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .badge-role {
    font-weight: 500;
    font-size: 0.85rem;
  }
  
  .profile-img {
    border: 5px solid #fff;
  }